
# /
/.depend
/Makefile.in
/configure
/aclocal.m4
/autom4te.cache
/config

# /doc/
/doc/Makefile.in

# /examples/
examples/Makefile.in


# /src/

# /src/vs2008/
/src/vs2008/vs2drt.suo
/src/vs2008/vs2drt.u2d

# ignore directories beginning with '_'
_*/
